<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  
  <add key="CKEditor:BasePath" value="~/Include/Plugin/ckeditor"/>  
  
  <add key="OpenIPStrategy" value="False"/>
  
  <add key="RegServEntrance" value="#"/>
  
  <add key="ViewPurviewType" value="Superior"/>
  
  <add key="SearchPageSize" value="10"/>
  <!--100M, 1M = 1048576 byte (1024X1024) -->
  <add key="FileCapacity" value="104857600"/>
  
  <add key="MobileUserAgent" value="iphone|android|nokia|zte|huawei|lenovo|samsung|motorola|sonyericsson|lg|philips|gionee|htc|coolpad|symbian|sony|ericsson|mot|cmcc|iemobile|sgh|panasonic|alcatel|cldc|midp|wap|mobile|blackberry|windows ce|mqqbrowser|ucweb"/>
  <!--Phương thức Thông báo 1、Alert 2、Tip -->
  <add key="AlertMethod" value="Tip"/>
  <!--Cho phép lưu thông tin khách-->
  <add key="SaveCustomerInfo" value="True"/>
  <!--Cấp nhật ký thanh toán tín dụng vi mô
Không có đăng xuất;
1. Chỉ xuất ra thông báo lỗi;
2. Lỗi sản xuất và thông tin thông thường;
3. Thông tin lỗi đầu ra, thông tin thông thường và thông tin gỡ lỗi -->
  <add key="WxPayLogLevel" value="0"/>
  <!--Ghi lại thông tin địa điểm IP Địa chỉ IP thường gọi PcOnline API, tất cả sẽ có một sự chậm trễ nhất định, nó được đề nghị để đóng-->
  <add key="IsReadIPArea" value="False"/>

</appSettings>