<?xml version="1.0" encoding="utf-8" ?>
<httpErrors>
  <remove statusCode="404" subStatusCode="-1" />
  <error statusCode="404" prefixLanguageFilePath="" path="/Error/ErrorMsg_404.htm" responseMode="Redirect" />
  <remove statusCode="500" subStatusCode="-1" />
  <error statusCode="500" prefixLanguageFilePath="" path="/Error/ErrorMsg_500.htm" responseMode="Redirect" />
</httpErrors>