<?xml version="1.0" encoding="utf-8"?>
<ArrayOfLanguage>
  <Language>
    <LangName>zh-cn</LangName>
    <LangFullName />
    <Alias>Tiếng Việt</Alias>
  </Language>

  <Language>
    <LangName>en</LangName>
    <LangFullName />
    <Alias>Tiếng Anh</Alias>
  </Language>
  <Language>
    <LangName>ja-jp</LangName>
    <LangFullName />
    <Alias>Tiếng Nhật</Alias>
  </Language>
</ArrayOfLanguage>