<?xml version="1.0" encoding="utf-8"?>
<OrderSet>
  <Set Key="LimtBuyTimeMax" Value="40" Unit="分"></Set>
  <Set Key="OrderTimeOut" Value="24" Unit="小时"></Set>
  <Set Key="SingMaxTime" Value="7" Unit="天"></Set>
  <Set Key="SingMaxTime" Value="7" Unit="天"></Set>
  <Set Key="SingMaxTime" Value="7" Unit="天"></Set>
</OrderSet>