<?xml version="1.0" encoding="utf-8" ?>
<Payments>
  <Payment Code="alipay" Name="支付宝" Logo="/Include/Payment/Alipay/logo.gif">
    <Products>
      <Product PayCode="AlipayDirect" PayName="即时到账" IsOnline="true" IsMobile="false" IsWeixin="false" Sort="1">
        <PayUrl>/Include/Payment/Alipay/AlipayDirect/default.aspx</PayUrl>
        <ReturnUrl>/Include/Payment/Alipay/AlipayDirect/return_url.aspx</ReturnUrl>
        <NotifyUrl>/Include/Payment/Alipay/AlipayDirect/notify_url.aspx</NotifyUrl>
        <Parameters>{SellerAccount:"卖家支付宝账号",Partner:"合作者身份ID",Key:"交易安全校验码"}</Parameters>
      </Product>
      <Product PayCode="WS_WAP_PAYWAP" PayName="手机支付" IsOnline="true" IsMobile="true" IsWeixin="false" Sort="2">
        <PayUrl>/Include/Payment/Alipay/WS_WAP_PAYWAP/default.aspx</PayUrl>
        <ReturnUrl>/Include/Payment/Alipay/WS_WAP_PAYWAP/return_url.aspx</ReturnUrl>
        <NotifyUrl>/Include/Payment/Alipay/WS_WAP_PAYWAP/notify_url.aspx</NotifyUrl>
        <Parameters>{SellerAccount:"卖家支付宝账号",Partner:"合作者身份ID",Key:"交易安全校验码",Sign_Type:"签名方式",Public_Key:"支付宝的公钥",Private_Key:"商户私钥"}</Parameters>
      </Product>
    </Products>
    <Description>
      <![CDATA[阿里巴巴旗下提供的网上支付服务，支付宝网站(www.alipay.com)是国内先进的网上支付平台。费率为：0-6万元1.2%，6万元-50万元1.0%，50万元-100万元0.9%，100万元-200万元0.8%，200万元以上0.7%！]]>
    </Description>
  </Payment>
  <Payment Code="wxpay" Name="微信支付" Logo="/Include/Payment/WeixinPay/logo.png">
    <Products>
      <Product PayCode="WxpayQRCode" PayName="扫码支付" IsOnline="true" IsMobile="false" IsWeixin="false" Sort="1">
        <PayUrl>/Include/Payment/WeixinPay/WxpayQRCode/default.aspx</PayUrl>
        <ReturnUrl>/Include/Payment/WeixinPay/WxpayQRCode/return_url.aspx</ReturnUrl>
        <NotifyUrl>/Include/Payment/WeixinPay/WxpayQRCode/notify_url.aspx</NotifyUrl>
        <Parameters>{APPID:"绑定支付的APPID",MCHID:"商户号",KEY:"商户支付密钥"}</Parameters>
      </Product>
      <Product PayCode="WxJsApi" PayName="公众号支付" IsOnline="true" IsMobile="false" IsWeixin="true" Sort="1">
        <PayUrl>/Include/Payment/WeixinPay/WxJsApi/default.aspx</PayUrl>
        <ReturnUrl>/Include/Payment/WeixinPay/WxJsApi/return_url.aspx</ReturnUrl>
        <NotifyUrl>/Include/Payment/WeixinPay/WxJsApi/notify_url.aspx</NotifyUrl>
        <Parameters>{APPID:"绑定支付的APPID",MCHID:"商户号",KEY:"商户支付密钥",APPSECRET:"公众帐号secert"}</Parameters>
      </Product>
    </Products>
    <Description>
      <![CDATA[微信支付是集成在微信客户端的支付功能，用户可以通过手机完成快速的支付流程。微信支付以绑定银行卡的快捷支付为基础，向用户提供安全、快捷、高效的支付服务。]]>
    </Description>
  </Payment>
</Payments>