<?xml version="1.0" encoding="utf-8" ?>
<rules>
  <rule name="rulecategory">
    <match url="^((?!TextEditor|ajax|Platform|platform|Archives|Search|Images|Script|Style|Plugin|Upload|Shop)[a-zA-Z0-9/_-]+)/default.html" ignoreCase="false" />
    <action type="Rewrite" url="Category.aspx?code={R:1}" appendQueryString="true" />
  </rule>
  <rule name="rulelist">
    <match url="^((?!TextEditor|ajax|Platform|platform|Archives|Search|Images|Script|Style|Plugin|Upload|Shop)[a-zA-Z0-9/_-]+)/default_(\d+).html" ignoreCase="false" />
    <action type="Rewrite" url="ContentList.aspx?code={R:1}&amp;page={R:2}" appendQueryString="true" />
  </rule>
  <rule name="ruledetail">
    <match url="^((?!TextEditor|ajax|Platform|platform|Archives|Search|Images|Script|Style|Plugin|Upload|Shop)[a-zA-Z0-9/_-]+)/(\d+).html" ignoreCase="false" />
    <action type="Rewrite" url="Detail.aspx?code={R:1}&amp;cid={R:2}" appendQueryString="true" />
  </rule>
</rules>