<?xml version="1.0" encoding="utf-8"?>
<ArrayOfOAuthConfig>
  <OAuthConfig>
    <OAuthKey>QQ</OAuthKey>
    <OAuthName>腾迅QQ登录</OAuthName>
    <ShowImg>/Include/Images/ThirdLogin/qqservice.gif</ShowImg>
    <OAuthAppId>101247080</OAuthAppId>
    <OAuthAppKey>a2881664821487efab299504eb632600</OAuthAppKey>
    <ReturnUri>http://2014.hongdian.com/Include/OAuth/qq/return_url.aspx</ReturnUri>
    <ApplyUrl>http://connect.qq.com/</ApplyUrl>
    <APIUrl>/include/thirdlogin/qq/index.aspx</APIUrl>
    <Remark>
      用户使用已有的QQ号码即可登录网站，QQ一键登录更可减少登录交互操作，大大降低网站注册门槛，提升购物体验，给网站带来海量新用户。&lt;br/&gt;
      同时打通QQ空间、朋友网、腾讯微博三大平台，一站互联全线打通。
    </Remark>
    <IsEnabled>true</IsEnabled>
  </OAuthConfig>
  <OAuthConfig>
    <OAuthKey>Weibo</OAuthKey>
    <OAuthName>新浪微博登录</OAuthName>
    <ShowImg>/Include/Images/ThirdLogin/sinaservice.gif</ShowImg>
    <OAuthAppId>3743414058</OAuthAppId>
    <OAuthAppKey>ccfac88f9b799bbc645a54d95b631fd3</OAuthAppKey>
    <ReturnUri>http://2014.hongdian.com/Include/OAuth/sina/return_url.aspx</ReturnUri>
    <ApplyUrl>http://open.weibo.com/</ApplyUrl>
    <APIUrl>/include/thirdlogin/sina/index.aspx</APIUrl>
    <Remark>
      用户只要使用微博账号进行登录即可注册成为网站会员，帮助您提升网站的用户注册量和提升网站访问数据。
    </Remark>
    <IsEnabled>true</IsEnabled>
  </OAuthConfig>
</ArrayOfOAuthConfig>