<?xml version="1.0" encoding="utf-8" ?>
<rewriter>
  <!--以下是系统固有的url重写，请不要改动，否则会找不到地址，id表示模板中调用的key，如 ${register_url},程序中调用 SinGooCMS.Common.UrlRewrite.Get("register_url")-->
  <rewrite id="register_url" url="^~/user/register(.aspx|.html)?" to="~/user/register.aspx" issystem="1" processing="stop"/>
  <rewrite id="agreement_url" url="^~/user/agreement(.aspx|.html)?" to="~/user/agreement.aspx" issystem="1" processing="stop"/>
  <rewrite id="login_url" url="^~/user/login(.aspx|.html)?" to="~/user/login.aspx" issystem="1" processing="stop"/>
  <rewrite id="findpwd_url" url="^~/user/findpwd(.aspx|.html)?" to="~/user/findpwd.aspx" issystem="1" processing="stop"/>
  <rewrite id="resetpwd_url" url="^~/user/resetpwd(.aspx|.html)?" to="~/user/resetpwd.aspx" issystem="1" processing="stop"/>
  <rewrite id="resetsuccess_url" url="^~/user/resetsuccess(.aspx|.html)?" to="~/user/resetsuccess.aspx" issystem="1" processing="stop"/>
  <rewrite id="infocenter_url" url="^~/user/infocenter(.aspx|.html)?" to="~/user/infocenter.aspx" issystem="1" processing="stop"/>
  <rewrite id="profile_url" url="^~/user/profile(.aspx|.html)?" to="~/user/profile.aspx" issystem="1" processing="stop"/>
  <rewrite id="myaddress_url" url="^~/user/myaddress(.aspx|.html)?" to="~/user/myAddress.aspx" issystem="1" processing="stop"/>
  <rewrite id="message_url" url="^~/user/message(.aspx|.html)?" to="~/user/message.aspx" issystem="1" processing="stop"/>
  <rewrite id="changepwd_url" url="^~/user/changepwd(.aspx|.html)?" to="~/user/changepwd.aspx" issystem="1" processing="stop"/>
  <rewrite id="logout_url" url="^~/user/logout(.aspx|.html)?" to="~/user/logout.aspx" issystem="1" processing="stop"/>
  <rewrite id="accdetail_url" url="^~/user/accdetail(.aspx|.html)?" to="~/user/accdetail.aspx" issystem="1" processing="stop"/>
  <rewrite id="integral_url" url="^~/user/integral(.aspx|.html)?" to="~/user/integral.aspx" issystem="1" processing="stop"/>
  <rewrite id="coupons_url" url="^~/user/coupons(.aspx|.html)?" to="~/user/coupons.aspx" issystem="1" processing="stop"/>
  <rewrite id="myorders_url" url="^~/user/myorders(.aspx|.html)?" to="~/user/myorders.aspx" issystem="1" processing="stop"/>
  <rewrite id="orderdetail_url" url="^~/user/orderdetail(.aspx|.html)?" to="~/user/orderdetail.aspx" issystem="1" processing="stop"/>
  <rewrite id="myfavorite_url" url="^~/user/myfavorite(.aspx|.html)?" to="~/user/myfavorite.aspx" issystem="1" processing="stop"/>
  <rewrite id="useract_url" url="^~/user/useract(.aspx|.html)?" to="~/user/useract.aspx" issystem="1" processing="stop"/>
  
  <rewrite id="company_url" url="^~/list/company(.aspx|.html)?" to="~/list/list_company.aspx" issystem="1" processing="stop"/>
  <rewrite id="supplier_url" url="^~/list/supplier(.aspx|.html)?" to="~/list/list_supplier.aspx" issystem="1" processing="stop"/>
  <rewrite id="manufacture_url" url="^~/list/manufacture(.aspx|.html)?" to="~/list/list_manufacture.aspx" issystem="1" processing="stop"/>
  <rewrite id="customer_url" url="^~/list/customer(.aspx|.html)?" to="~/list/list_customer.aspx" issystem="1" processing="stop"/>
  <rewrite id="addcustomer_url" url="^~/list/addcustomer(.aspx|.html)?" to="~/add/add_customer.aspx" issystem="1" processing="stop"/>
  
  <rewrite id="cart_url" url="^~/shop/cart(.aspx|.html)?" to="~/shop/cart.aspx" issystem="1" processing="stop"/>
  <rewrite id="settlement_url" url="^~/shop/settlement(.aspx|.html)?" to="~/shop/settlement.aspx" issystem="1" processing="stop"/>
  <rewrite id="cashier_url" url="^~/shop/cashier(.aspx|.html)?" to="~/shop/cashier.aspx" issystem="1" processing="stop"/>
  <rewrite id="payreturn_url" url="^~/shop/payreturn(.aspx|.html)?" to="~/shop/payreturn.aspx" issystem="1" processing="stop"/>
  <rewrite id="orderresult_url" url="^~/shop/orderresult(.aspx|.html)?" to="~/shop/orderresult.aspx" issystem="1" processing="stop"/>
  <rewrite id="evalution_url" url="^~/shop/evalution(.aspx|.html)?" to="~/shop/evalution.aspx" issystem="1" processing="stop"/>
  <rewrite id="groupon_url" url="^~/shop/groupon(.aspx|.html)?" to="~/shop/groupon.aspx" issystem="1" processing="stop"/>
  <rewrite id="groupbuy_url" url="^~/shop/groupbuy(.aspx|.html)?" to="~/shop/groupbuy.aspx" issystem="1" processing="stop"/>
  <rewrite id="ajaxmethod_url" url="^~/include/ajax/ajaxmethod(.aspx|.html)?" to="~/include/ajax/ajaxmethod.aspx" issystem="1" processing="stop"/>
  <rewrite id="ajaxevalution_url" url="^~/include/ajax/ajaxevalution(.aspx|.html)?" to="~/include/ajax/ajaxevalution.aspx" issystem="1" processing="stop"/>
  <rewrite id="validcode_url" url="^~/include/validcode(.aspx|.html)?" to="~/include/checkcodeimg.aspx" issystem="1" processing="stop"/>
  <rewrite id="download_url" url="^~/include/download(.aspx|.html)?" to="~/include/download.aspx" issystem="1" processing="stop"/>
  <rewrite id="generatead_url" url="^~/include/generatead(.aspx|.html)?" to="~/include/generatead.aspx" issystem="1" processing="stop"/>
  <rewrite id="setsitelang_url" url="^~/include/setsitelang(.aspx|.html)?" to="~/include/setsitelang.aspx" issystem="1" processing="stop"/>
  <rewrite id="tags_url" url="^~/include/tags(.aspx|.html)?" to="~/include/tags.aspx" issystem="1" processing="stop"/>
  <rewrite id="search_url" url="^~/shop/search(.aspx|.html)?" to="~/shop/category.aspx" issystem="1" processing="stop"/>
  <rewrite id="platform_login_url" url="^~/platform/login(.aspx|.html)?" to="~/platform/login.html" issystem="1" processing="stop"/>
  <rewrite id="platform_main_url" url="^~/platform/main(.aspx|.html)?" to="~/platform/main.aspx" issystem="1" processing="stop"/>
  <rewrite id="cates" url="^~/shop/(\d+)(.aspx|.html)?$" to="~/shop/category.aspx?cid=$1" issystem="1" processing="stop"/>
  <rewrite id="withpage" url="^~/shop/(\d+)_(\d+)(.aspx|.html)?$" to="~/shop/category.aspx?cid=$1&amp;page=$2" issystem="1" processing="stop"/>
  <rewrite id="cates2" url="^~/shop/((?!category|goods|search)[a-zA-Z0-9/-]+)(.aspx|.html)?$" to="~/shop/category.aspx?code=$1" issystem="1" processing="stop"/>
  <rewrite id="withpage2" url="^~/shop/((?!category|goods|search)[a-zA-Z0-9/-]+)_(\d+)(.aspx|.html)?$" to="~/shop/category.aspx?code=$1&amp;page=$2" issystem="1" processing="stop"/>
  <rewrite id="goodsdetail" url="^~/shop/goods/(\d+)(.aspx|.html)?$" to="~/shop/goods.aspx?pid=$1" issystem="1" processing="stop"/>
  <rewrite id="nodes" url="^~/article/(\d+)(.aspx|.html)?$" to="~/article/node.aspx?nid=$1" issystem="1" processing="stop"/>
  <rewrite id="awithpage" url="^~/article/(\d+)_(\d+)(.aspx|.html)?$" to="~/article/node.aspx?nid=$1&amp;page=$2" issystem="1" processing="stop"/>
  <rewrite id="node2" url="^~/article/((?!node|detail)[a-zA-Z0-9/-]+)(.aspx|.html)?$" to="~/article/node.aspx?code=$1" issystem="1" processing="stop"/>
  <rewrite id="awithpage2" url="^~/article/((?!node|detail)[a-zA-Z0-9/-]+)_(\d+)(.aspx|.html)?$" to="~/article/contentlist.aspx?code=$1&amp;page=$2" issystem="1" processing="stop"/>
  <rewrite id="articles" url="^~/article/detail/(\d+)(.aspx|.html)?$" to="~/article/detail.aspx?aid=$1" issystem="1" processing="stop"/>
</rewriter>