<?xml version="1.0" encoding="utf-8"?><Config><AppID>wx261adea61d19b5d0</AppID><AppSecret>77de8d4328a4e6ca67d8991432b8a585</AppSecret><URL>http://www.sz3w.net/Include/Weixin/api.aspx</URL><Token>jsonlee20150506pm1904</Token><EncodingAESKey>ywO733sLP8SRNOagjM9UP9vMmqtXjcjHQXXcMIV2MIB</EncodingAESKey><ExpireMinutes>3</ExpireMinutes></Config>
