<!DOCTYPE html>
<html lang="en">
<head>
    #parse("inc/_meta.html")
</head>
<body style="background: #ebebeb;">
    <header class="main-header" style="background-image: url(${mbpath}dist/images/44e1c4e50d55159c65da6a41bc07e.jpg);">
        <div class="container">
            <div class="col-xs-12">
                <h1>空间租用</h1>
            </div>
            <div class="col-sm-12">
                <a href="/" class="btn btn-default btn-doc">返回首页</a>
            </div>
        </div>
    </header>
    <nav class="main-navigation">
        <div class="container">
            <div class="navbar-header" data-scroll-reveal="enter left over 1.5s">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">香港云虚机</a></li>
                    <li><a href="#ios" data-toggle="tab">美国云虚机</a></li>
                    <li><a href="#ios1" data-toggle="tab">国内云虚机</a></li>
                    <li><a href="#ios2" data-toggle="tab">美国独立IP</a></li>
                    <li><a href="#ios3" data-toggle="tab">海外仿牌虚机</a></li>
                    <li><a href="#ios4" data-toggle="tab">代理平台</a></li>
                    <li><a href="#ios5" data-toggle="tab">Linux空间</a></li>
                    <li><a href="#ios6" data-toggle="tab">所有产品</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-bottom: 35px;">
        <main class="col-md-8 main-content" data-scroll-reveal="enter left over 2s">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios1">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios2">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios3">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios4">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios5">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ios6">
                    <div class="post">
                        <div class="mod-b mod-art">
                            <div class="mod-thumb">
                                    <a class="transition" title="直播进入商业化下半场，它们离盈利有多远？" href="/article/171379.html" target="_blank">
                                        <img class="lazy" data-original="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="直播进入商业化下半场，它们离盈利有多远？" src="https://imgs.bipush.com/article/cover/201611/19/123743255973.jpg?imageView2/1/w/220/h/165/|imageMogr2/strip/interlace/1/quality/85/format/jpg" style="display: inline;">
                                    </a>
                            </div>
                            <a href="/entertainment.html" class="column-link" target="_blank">联系我们</a>
                            <div class="mob-ctt">
                                    <h2><a href="/article/171379.html" class="transition" target="_blank">香港主机企业型</a></h2>
                                    <div class="mob-author">
                                        <i class="iconfont">&#xe623;</i>
                                        <span class="author-name ">228元/年</span>
                                    </div>
                                    <div class="mob-sub">300M全能空间；ASP+ACCESS+CGI+PHP+FSO+ASP.NET+WAP+HTML+SHTML；400个IIS连接数；最大下载速度300kb/s；CPU占用率5%；8GB流量/月绑定10个域名；赠送50M Mysql数据库；</div>
                            </div>
                        </div>
                        <div class="post-footer clear-fix">
                                <ul>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1rl1PIXXXXXaBXFXX0L7oIFXX-75-70.png">
                                        <h4>速度</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1Aqu2IXXXXXarXpXXH69MIXXX-65-70.png">
                                        <h4>稳定</h4>
                                    </li>
                                    <li>
                                        <img src="${mbpath}dist/images/TB1hVOTIXXXXXXAXFXX0L7oIFXX-75-70.png">
                                        <h4>安全</h4>
                                    </li>
                                    <li class="last">
                                        <img src="${mbpath}dist/images/TB19yGDIXXXXXcXXVXXH69MIXXX-65-70.png">
                                        <h4>备案</h4>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <aside class="col-md-4 sidebar" data-scroll-reveal="enter right over 2.5s">
            <div class="widget">
                <h4 class="title">虚拟主机</h4>
                <div class="content  tag-cloud">
                    全天24小时自动开通，具备权限管理、自动备份、杀毒机制，让您的网站高速、安全、稳定的运行。控制面板支持绑定域名，设定默认页，切换.NET/PHP版本，在线打包解压，IP限制、脚本加密等完善功能。
                </div>
            </div>

            <div class="widget">
                <h4 class="title">服务保障</h4>
                <div class="content  tag-cloud">
                    7x24小时电话服务工单、邮件、线上支持、自动备份、自动杀毒、30天内无条件退款保障
                </div>
            </div>
        </aside>
    </div>
    <!--底部-->
    #parse("inc/_footer.html")
    <!--底部 end-->    
</body>
</html>
<script type="text/javascript" src="${mbpath}dist/js/scrollReveal.js"></script>
<script>
    (function () {
        window.scrollReveal = new scrollReveal({ reset: false, move: '100px' });
    })();
</script>