<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>联华电商产品SinGooShop</title>
    <link rel="stylesheet" href="${mbpath}dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="${mbpath}dist/css/lianhua.css">
    <link rel="stylesheet" type="text/css" href="${mbpath}dist/css/reset.css">
    <script type="text/javascript" src="${mbpath}dist/js/jquery.min.js"></script>
    <script type='text/javascript' src="${mbpath}dist/js/jquery.fullPage.min.js"></script>
    <script>
        $(function () {
            $('#dowebok').fullpage({
                'navigation': true,
                navigationTooltips: ['首页', '电商', '功能', '从业', '体验']
            });
        });
    </script>
</head>
<body>
    <div class="nav-shop">
        <div class="container">
            <div class="col-md-4">
                <a class="nav-logo" href="/">
                    <img src="${mbpath}dist/images/logo.png">
                </a>
            </div>
            <div class="col-md-8 nav-main hidden-xs hidden-sm">
                 <a href='${cms.GetNode("contact").NodeUrl}'>联系我们</a> <a href='${cms.GetNode("case").NodeUrl}'>案例</a> <a href="/">首页</a>
            </div>
        </div>
    </div>
    <div id="dowebok">
        <div class="section section-1 text-center">
            <div class="col-md-12 img-1">
                <img src="${mbpath}dist/images/17-icon.png">
            </div>
            <div class="col-md-12 img-2">
                <img src="${mbpath}dist/images/lhwl.png">
            </div>
            <div class="col-md-12 img-3">
                <img src="${mbpath}dist/images/001.png">
            </div>
        </div>
        <div class="section section-2 text-center">
            <div class="col-md-12 name img-4">
                <img src="${mbpath}dist/images/002.png">
            </div>
            <div class="col-md-12 img-5">
                <img src="${mbpath}dist/images/003.png">
            </div>
        </div>
        <div class="section section-3 text-center">
            <div class="col-md-12 img-6">
                <img src="${mbpath}dist/images/004.png">
            </div>
            <div class="col-md-12 xt-list">
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/005.png">
                    </div>
                    <h3>
                        商品系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/006.png">
                    </div>
                    <h3>
                        会员系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/007.png">
                    </div>
                    <h3>
                        订单系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/008.png">
                    </div>
                    <h3>
                        内容系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/009.png">
                    </div>
                    <h3>
                        移动系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/010.png">
                    </div>
                    <h3>
                        营销系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/011.png">
                    </div>
                    <h3>
                        广告系统</h3>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="mc-img">
                        <img src="${mbpath}dist/images/012.png">
                    </div>
                    <h3>
                        统计系统</h3>
                </div>
            </div>
        </div>
        <div class="section section-4 text-center">
            <div class="col-md-12 img-7">
                <img src="${mbpath}dist/images/013.png">
            </div>
            <div class="col-md-12 info">
                <p>
                    深圳联华网络是家有着<em>17</em>年建站历史的公司，服务于超<br />
                    过1000家企业（其中不乏大型上市公司），制作过各种行业类型的<br />
                    网站。公司主推B2C，B2B2C、高端网页设计、品牌设计以及各中小型企业快速建站。</p>
            </div>
        </div>
        <div class="section section-5 text-center">
            <div class="col-md-12 img-8">
                <img src="${mbpath}dist/images/014.png">
            </div>
            <div class="col-md-12 img-9">
                <img src="${mbpath}dist/images/015.png">
            </div>
            <div class="col-md-12 img-10">
                <a href="http://shopdemo.ue.net.cn" target="_blank">
                <img src="${mbpath}dist/images/btn-go.png" alt="">
                </a>
            </div>
        </div>
    </div>
</body>
</html>